---
import Layout from './Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Navbar />
  <main class="pt-24 bg-white">
    <slot />
  </main>
  <Footer />
</Layout>
